<section class="hero-premium" id="get-started">
  <div
    class="hero-premium-container">
    <!-- Include Hero Content -->
    {% include "hero-content.njk" %}
    <!-- Include Hero Form -->
    {% set formId = "heroLeadForm" %}
    {% set nameId = "heroLeadName" %}
    {% set phoneId = "heroLeadPhone" %}
    {% include "contact-form.njk" %}
  </div>
</section>
