<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="index, follow"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/header.css"/>
    <link rel="stylesheet" href="/assets/css/footer.css"/>
    <link rel="stylesheet" href="/assets/css/static-page.css"/>
    {% if showFaqAssets %}
      <link rel="stylesheet" href="/assets/css/faq.css"/>
    {% endif %}
  </head>
  <body>
    {% include "header.njk" %}
    <main class="static-page">
      <div class="static-wrap">
        {{ content | safe }}
      </div>
    </main>
    {% include "footer.njk" %}
    <script defer src="/assets/js/menu.js"></script>
    {% if showFaqAssets %}
      <script defer src="/assets/js/faq.js"></script>
    {% endif %}
  </body>
</html>
